.corps-accueil,
.corps-ajout,
.corps-consultation,
.corps-description {
  padding: 3rem;
}

.conteneur-formulaire {
  padding: 2rem;
}

.form-select {
  padding: 1rem 0.75rem;
}

#ajout-success,
#ajout-erreur {
  display: none;
}

.container-table {
  padding: 2rem 0;
}
